@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Dancing+Script:wght@400;500;600;700&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: no-repeat;
}

header {
    background-color: rgba(23, 38, 45, 0.7);
}

.header_wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.logo_section {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-style: italic;
    color: #F0C260;
}

.nav ul {
    list-style: none; 
    margin: 0; 
    padding: 50px 0; 
    display: flex;
    font-size: 25px;
    margin-left: 200px;

}

.logo_section a {
    text-decoration: none;
    color: #F0C260;
}

.logo_section a:hover {
    text-decoration: none;
    color: #F0C260;
}

.nav a {
    text-decoration: none;
    margin-left: 47px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
 }

.header_section {
    height: 860px;
    background-image: url('./img/3\(2\)\ 1.png');
}

.auth_section {
    margin-right: -100px;
}

.header_preview {
    vertical-align: center;
    padding: 30px 0;
    background-color: rgba(23, 38, 45, 0.7);
    height: 310px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10%;
    text-align: center;
}

.header_title {
    color: #F0C260;
    font-size: 45px;
    margin-top: 20px;
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Caveat', cursive; */
    /* text-transform: uppercase; */
}

.header_subText {
    font-family: 'Mulish', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
}

.button {
    /* Сбрасываем дефолтные стили */
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 12px 16px;
    border-radius: 100px;
    color: #000;
  }

  .button.orange {
    background: #F0C260;
  }

  .button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .button:hover.orange {
    background: #f5ef47;
  }

.dispNone {
    display: none;
}

/* TEAM */

.team-section {
    background-color: #1C2022;
    padding: 33px 0px;
}

.team-wrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.photosuka {
    width: 400px;
    height: 400px;
    border-radius: 10%;
}

.podpis {
    width: 300px;
    height: 200px;
    position: relative;
    left: 220px;
    bottom: 60px;
}

.team-main-title {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-style: italic;
    color: #F0C260;
}

.team-photo-container {
    display: flex;
}

.team-subtitle {
    font-family: 'Mulish', sans-serif;
    color:#fff;
    font-size: 23px;
    margin-top: 10px;
}

.team-descriprion {
    font-family: 'Mulish', sans-serif;
    color:#fff;
    line-height: 30px;
    margin: 40px 250px 0px 0px;
    font-size: 18px;
}

/* MENU */

.menu_section {
    background-image: url('./img/8-thumb\ 1.png');
    background-size:cover;
    height: 1700px;
    width: 100%;
    margin: 0 auto;
}

.menu_section > div {
    width: 90%;
    margin: 0 auto;
    
}

.menu_title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color:#FFFFFF;
    padding-top: 60px;
    text-align: center;
}

.busket_section {

  border-radius: 50%;
  /* background-color: #364364; */
  transition: 0.1s;
  cursor: pointer;
  position: fixed; /* Фиксированное расположение */
  /* top: 50px; /* в правом верхнем углу */
  right: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain; */
  /* padding: 15px; */
  /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); */
}

.cart__num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33); /* Небольшое затемнение на фоне */
    z-index: 1000; /* Поверх всех окон */
    width: 100%;
    height: 100%;
    display: none; /* По умолчанию скрываем окно */
    justify-content: center;
    align-items: center;
    user-select: none;
    /* overflow-y: scroll; */
  }

  .card__price--common {
    color: #F0C260;
    font-size: 21px;
    text-align: center;
  }

  
.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    width: 50%;
    margin: 0 auto;
    color: #ff6633;
    padding: 10px;
    text-align: center;
    border: 1px solid #F0C260;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
  }
  .card__add:hover {
    border: 1px solid #ff6633;
    background-color: #ff6633;
    color: #fff;
  }
  
  /* Стилизация контейнера окна */
  .popup__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
  }
  
  /* Элементы окна (заголовок, список товаров, вывод стоимости) */
  .popup__item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
  
  .popup__item:last-of-type {
    border-bottom: none;
  }
  
  .popup__title {
    font-size: 20px;
  }
  
  /* Стили для вывода товара */
  .popup__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .popup__product-wrap {
    display: flex;
    align-items: center;
  }
  
  .popup__product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .popup__product-title {
    max-width: 300px;
    font-weight: 500;
  }
  
  .popup__product-price {
    font-size: 18px;
    margin-right: 15px;
  }
  
  /* Стили для кнопки удаления товара */
  .popup__product-delete {
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    color: #d62240;
  }
  
  /* Стили для вывода стоимости товаров */
  .popup__cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  
  .popup__cost-title {
    margin-right: 15px;
    font-size: 20px;
    color: #364364;
    text-align: right;
  }
  
  .popup__cost-value {
    font-size: 20px;
  }
  
  /* Стили для кнопки закрытия окна */
  .popup__close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px;
    color: rgba(54, 67, 100, 0.7);
    font-size: 20px;
  }
  
  .popup__close:hover {
    color: rgb(54, 67, 100);
  }
  
  .popup--open {
    display: flex;
  }

.menu_navbar ul {
    list-style: none; 
    padding: 40px 0; 
    display: flex;
    font-size: 25px;
    margin-left: 33%;
}


#current {
    color:rgb(139, 109, 9);
}

.menu_navbar .help {
    text-decoration: none;
    margin-left: 50px;
    font-weight: 400;
    color: #F0C260;
}

.menu_navbar .help:hover {
    cursor: pointer;
}



.menu_cards {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto;
    padding-left: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.card__title {
    text-align: center;
    color: #fff;
    font-size: 21px;
    padding-top: 15px;
}

.card__image {
    width: 320px;
    height: 320px;
    border-radius: 15px;
}

.menu_card {
    max-width: 33%;
    margin: 30px;
}

/* .img_card2 {
    background-image: url('./img/hummingbird-printed-t-shirt\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card1 {
    background-image: url('./img/brown-bear-printed-sweater\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card3 {
    background-image: url('./img/mountain-fox-vector-graphics\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card4 {
    background-image: url('./img/mug-the-best-is-yet-to-come\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card5 {
    background-image: url('./img/the-adventure-begins-framed-poster\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card6 {
    background-image: url('./img/today-is-a-good-day-framed-poster\ 1.png');
    width: 400px;
    height: 400px;
} */

.menu_desc {
    font-size: 17px;
    color:#FFFFFF;
    text-align: center;
    margin-top: 10px;
}



.questions_wrapper {
    display: flex;
    /* width: 90%; */
    margin: 0 auto;
    /* justify-content: space-between; */
}

.question_section button {
    margin-top: 30px;
}

.question_img {
    width: 1000px;
    height: 700px;
    background-image: url('./img/q-help.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.questions_main_section {
    padding-top: 70px;
    width: 50%;
    margin-right: 200px;
    padding-left: 5%;
}

.questions_title {
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 41px;
    margin-bottom: 50px;
}



.modal {
    max-width: 600px;
    max-height: 300px;
    margin: 100px auto;
    overflow-y: auto;
    background: #fff;
  }
  
  .modal > h1 {
    text-align: center;
  }
  
  .modal .modal-content {
    padding: 1rem;
  }

footer {
    background-image: url('./img/footer.png');
}

.footer-wrapper {
    width: 90%;
    margin: 0 auto;
}

footer .logo_section {
    padding-top: 50px;
    text-align: center;
}

.footer_social_media {
    text-align: center;
}

.footer_social_media img {
    width: 220px;
    height: 55px;
}

footer .nav ul {
    padding-left: 280px;
}

.maps_section iframe {
    margin: 0 auto;
}