@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Dancing+Script:wght@400;500;600;700&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    
    background-color: rgba(23, 38, 45, 0.7);
}

.header_wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo_section {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-style: italic;
    color: #F0C260;
}

.nav ul {
    list-style: none; 
    margin: 0; 
    padding: 50px 0; 
    display: flex;
    font-size: 25px;
    margin-left: 200px;

}

.nav a {
    text-decoration: none;
    margin-left: 47px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
 }

.header_section {
    height: 860px;
    background-image: url('./img/3\(2\)\ 1.png');
}

.auth_section {
    margin-right: -200px;
}

.header_preview {
    vertical-align: center;
    padding: 30px 0;
    background-color: rgba(23, 38, 45, 0.7);
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10%;
    text-align: center;
}

.header_title {
    color: #F0C260;
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}

.header_subText {
    font-family: 'Mulish', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 70px;
    margin-top: 40px;
}

.button {
    /* Сбрасываем дефолтные стили */
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 12px 16px;
    border-radius: 100px;
    color: #000;
  }

  .button.orange {
    background: #F0C260;
  }

  .button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .button:hover.orange {
    background: #f5ef47;
  }

/* MENU */

.menu_section {
    background-image: url('./img/8-thumb\ 1.png');
    height: 1500px;
    width: 100%;
    margin: 0 auto;
}

.menu_section > div {
    width: 90%;
    margin: 0 auto;
    
}

.menu_title {
    font-size: 30px;
    color:#FFFFFF;
    padding-top: 108px;
    text-align: center;
}


.menu_navbar ul {
    list-style: none; 
    padding: 50px 0; 
    display: flex;
    font-size: 25px;
    margin-left: 33%;
}

.menu_navbar a {
    text-decoration: none;
    margin-left: 47px;
    font-weight: 700;
    color: rgb(52, 193, 193);
}

.current {
    color:rgb(52, 193, 193);
}

.menu_cards {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto;
}

.menu_card {
    max-width: 33%;
    margin: 30px;
}

.img_card2 {
    background-image: url('./img/hummingbird-printed-t-shirt\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card1 {
    background-image: url('./img/brown-bear-printed-sweater\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card3 {
    background-image: url('./img/mountain-fox-vector-graphics\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card4 {
    background-image: url('./img/mug-the-best-is-yet-to-come\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card5 {
    background-image: url('./img/the-adventure-begins-framed-poster\ 1.png');
    width: 400px;
    height: 400px;
}
.img_card6 {
    background-image: url('./img/today-is-a-good-day-framed-poster\ 1.png');
    width: 400px;
    height: 400px;
}

.menu_desc {
    font-size: 20px;
    color:#FFFFFF;
    text-align: center;
    margin-top: 10px;
}